.sidebar-menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.sidebar-menu__list--mobil {
    display: none;
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.sidebar-menu__item {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    padding: 10px 20px 10px 10px;
    border-radius: 24px;
}

.sidebar-menu__item--tweet {
    background-color: blue !important;
}

.sidebar-menu__item--brand {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px !important;
    border-radius: 50%;
}

.sidebar__logo {
    width: 30px;
}

.sidebar-menu__item__img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.sidebar-menu__item a {
    font-weight: 100;
}

.sidebar-menu__item:hover {
    background-color: rgb(227, 231, 231);
}

.sidebar-menu__img {
    width: 1.5rem;
}

.tweet-btn {
    background-color: #1da1f2;
    color: #fff;
    padding: 15px 80px;
    border: none;
    border-radius: 28px;
    box-shadow: 0 4px 6px rgba(12, 137, 240, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.tweet-btn a {
    color: white;
    font-size: .5rem;
}

.tweet-btn:hover {
    background-color: #3ea1e2 !important;
}

.tweet-btn i {
    width: 30px;
}

.tweet-btn-mobile {
    display: none !important;
    background-color: #3ea1e2;
}

.sidebar-menu ul li i {
    width: 35px;
    font-size: 35px;
}

.sidebar-menu ul li a {
    font-size: 1.3rem;
}

@media (max-width: 1210px) {
    .sidebar-menu__item--brand {
        justify-content: center;
    }

    .sidebar-menu {
        margin-right: 0 !important;
    }

    .sidebar-menu__list {
        align-items: center;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    .sidebar-menu__item {
        padding: 10px;
    }

    .nav-text {
        display: none;
    }

    .tweet-btn {
        display: none !important;
    }

    .tweet-btn-mobile {
        display: flex !important;
        background-color: #3ea1e2;

    }

    .tweet-btn-mobile:hover {
        background-color: #3ea1e2 !important;
    }

    .sidebar-menu__item__img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width:650px) {

    .sidebar-menu__brand {
        justify-content: center;
    }

    .sidebar-menu__list {
        display: none;
        list-style: none;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }


    .sidebar-menu__list--mobil {
        width: 100%;
        list-style: flex;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }


    .sidebar-menu__item {
        padding: 10px;
    }

    .tweet-btn-mobile {
        width: 30px !important;
        padding: 0px !important;
        margin-left: 7px;
        color: #3ea1e2;

    }
}